In [3]:
fruits = ['apple', 'orange', 'banana', 'cherry', 'lemon']
print(fruits[2])

banana

In [6]:
first_list = [1, 3, 5, 7, 8]
second_list = [2, 4, 6, 9]
first_list.extend(second_list)
first_list

[1, 3, 5, 7, 8, 2, 4, 6, 9]

In [1]:
numbers = [10, 20, 30, 40, 50, 60, 70]
num = [numbers[0], numbers[int(len(numbers)/2)], numbers[-1]]
print(num)

[10, 40, 70]

In [ ]:
movies = ['The Godfather', 'Harry Potter', 'Intouchables', 'Home alone', 'Interstellar']
print(type(movies))
m_tuple = tuple(movies)
print(m_tuple)
print(type(m_tuple))

<class 'list'>
('The Godfather', 'Harry Potter', 'Intouchables', 'Home alone', 'Interstellar')
<class 'tuple'>

In [19]:
cities = ['London', 'Tashkent', 'Paris', 'Moscow', 'New York']
if 'Paris' in cities:
    print(cities)
else:
    print('There is no this city')

['London', 'Tashkent', 'Paris', 'Moscow', 'New York']

In [23]:
list_numbers = [1, 2, 3, 4, 5, 6]
dup_num = list_numbers.copy()
print(dup_num)
print(list_numbers)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [32]:
list_numbers = [1, 2, 3, 4, 5, 6]
list_numbers[0], list_numbers[-1] = list_numbers[-1], list_numbers[0]
print(list_numbers)

[6, 2, 3, 4, 5, 1]

In [40]:
num_tuple = (1, 2, 3, 4, 5, 6, 7, 8 ,9, 10)
print(num_tuple)
print(num_tuple[3:7])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(4, 5, 6, 7)

In [43]:
colors = ['red', 'blue', 'black', 'white', 'blue', 'grey', 'red', 'blue']
print(colors.count('blue'))

3

In [45]:
animals = ('Jaguar', 'Elephant', 'Bear', 'Lion', 'Monkey')
print(animals.index('Lion'))

3

In [48]:
num1 = (1, 2, 3, 4, 5)
num2 = (6, 7, 8, 9)
all_num = num1 + num2
print(all_num)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [51]:
len_list = [2, 5, 7, 4, [4, 6]]
len_tuple = (1, 2, 7, 9)
print(len(len_list))
print(len(len_tuple))

5
4

In [58]:
five_tuple = (1, 2, 3, 4, 5)
five_list = list(five_tuple)
print(five_list)
print(type(five_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [61]:
tuple1 = (2, 5, 1, 7, 8, 3)
print(max(tuple1))
print(min(tuple1))

8
1

In [63]:
animals = ('Jaguar', 'Elephant', 'Bear', 'Lion', 'Monkey')
print(animals[-1::-1])

('Monkey', 'Lion', 'Bear', 'Elephant', 'Jaguar')